<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>pyera</title>
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.1.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.2/socket.io.js"></script>
</head>
<body>
<div id="textbox">
</div>
<div id="inputbox">
    <input type=text size=50 name=proglang>
    <a href=# id=process_input>
        <button class='btn btn-default'>提交</button>
    </a>
</div>
<div><br/><br/></div>
</body>

<script>

    function throttle(fn, threshhold, scope) {
        threshhold || (threshhold = 250);
        var last,
            deferTimer;
        return function () {
            var context = scope || this;

            var now = +new Date,
                args = arguments;
            if (last && now < last + threshhold) {
                // hold on to it
                clearTimeout(deferTimer);
                deferTimer = setTimeout(function () {
                    last = now;
                    fn.apply(context, args);
                }, threshhold);
            } else {
                last = now;
                fn.apply(context, args);
            }
        };
    }

    showtext = function (item) {
        $("#textbox").append(item.text);
    };

    showcmd = function (item) {
        appendstr = "<a class='cmd' href='javascript:void(0)' id=" + item.num + ">"
            + item.text + "</a>";
        idstr = "#" + item.num;
        $("#textbox").append(appendstr);
        $(idstr).bind("click", function () {
            cmdsendorder(item.num)
        });
    };

    cmdsendorder = function (number) {
        $('input[name="proglang"]').val(number);
        socket_global.emit('dealorder', $('input[name="proglang"]').val());
    };
    showword = function (i, item) {
        if (item.type == "text")
            showtext(item);
        if (item.type == "cmd")
            showcmd(item);
    };

    clearcmd_func = function (numbers) {
        if (numbers == "all") {
            $(".cmd").unbind('click');
            $(".cmd").attr("class","uncmd");
        } else {
            for (num in numbers){
                idstr="#"+ num;
                $(".cmd#idstr").unbind('click');
                $(".cmd#idstr").attr("class","uncmd");
            }
        }
    };

    show = function (data) {
        d = eval("(" + data + ")");
        if (d.clear_cmd == 'true') {
            $("#textbox").empty();
        }
        if (d.clearorder_cmd == 'true') {
            $('input[name="proglang"]').val("")
        }
        if (d.clearcmd_cmd)
            clearcmd_func(d.clearcmd_cmd);
        $.each(d.content, showword);
        window.scrollTo(0, document.body.scrollHeight);
        return false
    };

    var socket_global = 0;

    run = function () {
        var socket = io.connect('http://127.0.0.1:5000/test');
        socket_global = socket;
        socket.on('game_display', function (data) {
            show(data);
        });

        socket.on('connect', function () {
            socket.emit('run');
            console.log('one run');
        });


        $('a#process_input').unbind('click');
        $('a#process_input').bind('click', function () {
            socket.emit('dealorder', $('input[name="proglang"]').val());
        });

        sendorder = throttle(function () {
            if (event.keyCode == 13) {
                $('a#process_input').click();
            }
        }, 300);

        $(document).keydown(sendorder);

        $(window).unload(function () {
            socket.emit('disconnect');
        });


        return socket;
    };

    run()

</script>

</html>