<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>pyera</title>
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.1.1.js"></script>
</head>
<body>
<div id="textbox">

</div>
<div id="inputbox">
    <form>
        <input type=text size=50 name=proglang>
        <a href=# id=process_input>
            <button class='btn btn-default'>提交</button>
        </a>
    </form>
</div>
<div><br/><br/></div>
</body>

<script>

    showword = function (i, item) {
        $.each(item, function (key, value) {
                if (key == "text") {
                    $("#textbox").append(value);
                }
            }
        );
    };

    show = function (data) {
        d = eval("(" + data + ")");
        $.each(d.content, showword);
        window.scrollTo(0, document.body.scrollHeight);
        return false
    };

    run = function () {
        $.getJSON('/run', {
            proglang: $('input[name="proglang"]').val()
        }, show);
        return false;
    };

    nextflow = function () {
        $.getJSON('/nextflow', {
            proglang: $('input[name="proglang"]').val()
        }, show);
        return false;
    };


    $(document).ready(function () {

        $('a#process_input').unbind('click');
        $('a#process_input').bind('click', nextflow);


        $(document).keydown($.throttle(function () {
                if (event.keyCode == 13) {
                    $('a#process_input').click();
                }
            },300)
        );

    });
    run();
</script>

</html>