<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flask React Tutorial</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.2/react.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.2/JSXTransformer.js"></script>
</head>
<body>
<div id="mount-point"></div>
</body>

<script type="text/jsx">
    /** @jsx React.DOM */
    var Input = React.createClass({
        updateLabel: function (event) {
            this.setState({value: event.target.value});
        },
        getInitialState: function () {
            return {
                value: ''
            }
        },
        componentWillMount: function () {
            this.setState({value: this.state.value})
        },
        render: function () {
            return (
                    <div className="update-label">
                        <input type="text" placeholder="Enter text" onChange={this.updateLabel}/>
                        <Label value={this.state.value}/>
                    </div>
            )
        }
    });

    var Label = React.createClass({
        render: function () {
            return (
                    <div class="my-label">
                        <h2>{this.props.value}</h2>
                    </div>
            )
        }
    });

    React.render(<Input/>, document.getElementById('mount-point'));
</script>

</html>