<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>pyera</title>
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.1.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.2/socket.io.js"></script>
</head>
<body>
<div id="textbox">
    indextest
</div>
<div id="inputbox">
    <input type=text size=50 name=proglang>
    <a href=# id=process_input>
        <button class='btn btn-default'>提交</button>
    </a>
</div>
<div><br/><br/></div>
</body>

<script>

    function throttle(fn, threshhold, scope) {
        threshhold || (threshhold = 250);
        var last,
            deferTimer;
        return function () {
            var context = scope || this;

            var now = +new Date,
                args = arguments;
            if (last && now < last + threshhold) {
                // hold on to it
                clearTimeout(deferTimer);
                deferTimer = setTimeout(function () {
                    last = now;
                    fn.apply(context, args);
                }, threshhold);
            } else {
                last = now;
                fn.apply(context, args);
            }
        };
    }

    showword = function (i, item) {
        $.each(item, function (key, value) {
                if (key == "text") {
                    $("#textbox").append(value);
                }
            }
        );
    };

    show = function (data) {
        d = eval("(" + data + ")");
        if (d.clear_cmd == 'true') {
            $("#textbox").empty();
        }
        if (d.clearorder_cmd == 'true') {
            $('input[name="proglang"]').val("")
        }
        $.each(d.content, showword);
        window.scrollTo(0, document.body.scrollHeight);
        return false
    };


    run = function () {
        var socket = io.connect('http://127.0.0.1:5000/test');

        socket.on('game_display', function (data) {
            show(data);
        });

        socket.on('connect', function () {
            socket.emit('run');
            console.log('one run');
        });


        $('a#process_input').unbind('click');
        $('a#process_input').bind('click', function () {
            socket.emit('dealorder', $('input[name="proglang"]').val());
        });

        sendorder = throttle(function () {
            if (event.keyCode == 13) {
                $('a#process_input').click();
            }
        }, 300);

        $(document).keydown(sendorder);
    };

    run()

</script>

</html>