<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.1.1.js"></script>
    <script type=text/javascript>
        $(function () {
            $('a#process_input').bind('click', function () {
                $.getJSON('/background_process', {
                    proglang: $('input[name="proglang"]').val(),
                }, function (data) {
                    $("#result").text(data.result);
                });
                return false;
            });
        });
    </script>
</head>
<body>
<div class='container'>
    <h3>Welcome! Which is the best programming language of them all?</h3>
    <form>
        <input type=text size=5 name=proglang>
        <a href=# id=process_input>
            <button class='btn btn-default'>Submit</button>
        </a>
    </form>
    <p id=result></p>
</div>
</body>

</html>