<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8">
    <title>pyera</title>
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.1.1.js"></script>
</head>

<body>

<div class="container">

    <form class="form-signin" action="/signUp" method="post" role="form">
        <h2 class="form-signin-heading">Please Sign Up </h2>
        <input type="email" name="username" class="form-control" placeholder="Email address" required autofocus>
        <input type="password" name="password" class="form-control" placeholder="Password" required>

        <button class="btn btn-lg btn-primary btn-block" type="button">Register</button>
    </form>

</div>
<script>
    $(function () {
        $('button').click(function () {
            var user = $('#txtUsername').val();
            var pass = $('#txtPassword').val();
            $.ajax({
                url: '/signUpUser',
                data: $('form').serialize(),
                type: 'POST',
                success: function (response) {
                    console.log(response);
                },
                error: function (error) {
                    console.log(error);
                }
            });
        });
    });
</script>

</body>

</html>s